html,
body {
  width: 100%;
  height: 100%;
  font-family: Tahoma;
  font-size: 40px;
  background-color: #c7eeff;
}

.box {
  width: 50%;
  height: 33%;
  color: rgba(0, 0, 0, 0);
  background-image: url("arya.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: inline-block;
  top: 0px;
  bottom: 0px;
  animation: scale-div 5s linear infinite;
  animation-delay: 0.3s;
  margin: 0px 0px 10px 1px;
}

.box:nth-child(even) {
  left: 0px;
}

.box:nth-child(odd) {
  right: 0px;
}

.box:nth-child(4n) {
  animation-direction: reverse;
}

.box:nth-child(4n + 1) {
  animation-direction: reverse;
}

.box:hover {
  box-shadow: 0 0 20px#3c6969;
}

@keyframes scale-div {
  from {
    width: 0%;
  }
  to {
    width: 98%;
  }
}
